/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css?family=Jost&display=swap";

body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  width: 100%;
  font-variant: all-small-caps;
}

.no-scroll {
  overflow: hidden;
}

section {
  display: flex;
  margin: 0 auto;
  padding: 5rem 0;
}

.all-small-caps {
  font-variant: all-small-caps;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition:
    filter 400ms,
    -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.lazyload {
  transition: opacity 300ms;
}
